/*for all*/
span.alert {
    color: red;
    font-size: 10pt;
}

/*footer {*/
/*    clear: both;*/
/*    text-align: center;*/
/*    padding: 0.5em;*/
/*}*/

/*nav a {*/
/*    margin: 0.3em;*/
/*    padding: 0.3em 0.5em;*/
/*    color: black;*/
/*}*/
